table,
th,
td{
    border: 3.5px solid red;
    border-collapse: separate;
}
table{
    width: 50%;
}
th{
    height: 70px;
}
td{
    padding: 10px;
    text-align: center;
    height: 250px;
}
img{
    width: 300px;
    height: 300px;
}